@model ShopCartViewModel

<div class="container">
    @foreach (var el in Model.ShopCartItem.CartItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b> @el.CarItem.Name <br />
            <b>Цена:</b> @el.CarItem.Price.ToString("C", CultureInfo.GetCultureInfo("es-es"));
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-2" asp-controller="Order" asp-action="CheckOut">Оплатить</a>
</div>